# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Environments
.env
.env.*
venv/
.venv/
ENV/
env.bak/
venv.bak/
.stoneenv/

# IDE / Editors
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Render / Build
*.bak
*.swp
*.swo
*.tmp
